@import "./mixins.scss";

@mixin CoverBG($url) {
    width: 33.333%;
    background: no-repeat url($url);
    background-size: cover;
}
.Cover {
    width: 100%;
    @include FlexRow;
    height: 350px;
    &__left {
        @include CoverBG($url : '../assets/banner-left.png');
        @media screen and (max-width: $viewport-small) {
            background: no-repeat url(../assets/banner-left-s.png);
        }
    }
    &__center {
        @include CoverBG($url : '../assets/banner-center.png');
        @include FlexRow;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $viewport-small) {
            background: no-repeat url(../assets/banner-center-s.png);
        }
    }
    &__right {
        @include CoverBG($url :'../assets/banner-right.png');
        @media screen and (max-width: $viewport-small) {
            background: no-repeat url(../assets/banner-right-s.png);
        }
    }
    &__logo {
        display: block;
        width: 80%;
        height: auto;
        max-width: 250px;
    }
    @media screen and (max-width: $viewport-small) {
        height: 221px;
    }
    @media screen and (max-width: $viewport-medium) {
        height: 242px;
    }
}