@import "./mixins.scss";

.Container {
    @include FlexColumn;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.Grid {
    &--fullwidth {
        width: 100%;
    }
    &--8-10  {
        width: 80%;
    }
}