@import "./mixins.scss";

.Container {
    @include FlexColumn;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2rem;
    text-align: center;
    align-items: center;
    @media screen and (max-width:$viewport-small) {
        width: 95%;
        padding: 2rem 1rem 2rem 1rem;
        
    }
}



$systems: 3,10,12;

@mixin Size {
    @each $system in $systems {
        @for $size from 1 to ($system + 1) {
            &--#{$size}-#{$system}--small {
                @media screen and (max-width: $viewport-small) {
                width: (100% / $system * $size) - 0.5%;
                border: 1px solid black;
                }
            }
            &--#{$size}-#{$system} {
                width: (100% / $system * $size) - 0.5%;
            }
        }
    }
}



.Grid {
    @include FlexCentered;
    @include FlexRow;
    @include Size;
    @media screen and (max-width: $viewport-small) {
        align-items: flex-start;
    }
    &--fullwidth {
        width: 100%;
    }
    &--padded {
        @include Padded;
    }
    &__fullimg {
        width: 90%;
        height: auto;
    }
    &__halfimg {
        width: 40%;
        height: auto;
    }
    
}




.Footer {
    @include FlexColumn;
    margin-top: auto;
    font-size: 14px;
}