@import "./mixins.scss";

.Container {
    @include FlexColumn;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2rem;
    text-align: center;
    align-items: center;
}
$systems: 3,5,10,12;
.Grid {
    @include FlexCentered;
    @include FlexRow;
    &--fullwidth {
        width: 100%;
    }
    &--padded {
        @include Padded;
    }
    @each $system in $systems {
        @for $size from 1 to $system {
            &--#{$size}-#{$system} {
                width: (100% / $system * $size) - 0.5%;
            }
        }
    }
}