$viewport-small: 577px;
$viewport-medium: 769px;

$viewport-maps: (
    "small" : $viewport-small,
    "medium": $viewport-medium, 
);


@mixin FlexRow($force-on-mobile: false) {
    display: flex;
    flex-direction: row;
    @if ($force-on-mobile != true) {
        @media only screen and(max-width: $viewport-small) {
            flex-direction: column;
        }   
    }

}

@mixin FlexColumn {
    display: flex;
    flex-direction: column;
}

@mixin  FlexCentered {
    justify-content: center;
    align-items: center;
}

.Flex {
    &--column {
        @include FlexColumn;
    }
    &--row {
        @include FlexRow;
        &--left {
            justify-content: flex-start;
        }
        &--center {
            justify-content: center;
        }
        &--right {
            justify-content: flex-end;
        }
        &--small {
            @media only screen and (max-width:$viewport-small) {
                flex-flow: row;
            }
        }
    }
    &--centered {
        @include FlexCentered;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}




$colors-map : (
"blue": #007bff,
"indigo": #213A8F,
"purple": #6f42c1,
"pink": #e83e8c,
"red": #ff0000,
"orange": #fd7e14,
"yellow": #FBBC33,
"green": #28a745,
"teal": #20c997,
"cyan": #17a2b8,
"white": #fff,
"gray": #6c757d,
"gray-dark": #343a40,
"primary": #007bff,
"secondary": #6c757d,
"success": #28a745,
"info": #17a2b8,
"warning": #ffc107,
"danger": #dc3545,
"light": #FAFAFA,
"dark": #242729
);


@mixin Padded {
    padding: 32px 15px 8px 15px;
}

@mixin HalfPadded {
    padding: 8px 15px 8px 15px;
}

.Padded {
    &--half {
        padding: 8px 15px 8px 15px;
    }
}
@import "./Typography.scss";