@import './mixins.scss';
.NavBar {
    @include FlexRow;
    justify-content: center;
    &__group {
        @include FlexRow;
        height: inherit;
        justify-content: center;
    }
    &__item {
        height: inherit;
        @include FlexRow;
        padding: 15px 15px 18px 15px;
        font-family: "Prompt", sans-serif;
        text-decoration: none;
        color: map-get($colors-map,"dark");
        &:hover{
            box-shadow: inset 0 -6px map-get($colors-map,"indigo");
            color: map-get($colors-map,"indigo");
        }
    }
}