@import "../node_modules/normalize.css/normalize.css";
@import "./NavBar.scss";
@import "./Cover.scss";
@import "./Grid.scss";
@import "./Card.scss";
@import "./Animation.scss";

body {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    min-height: 100vh;
    width:100vw;
    overflow-x: hidden;
    margin:0;
    padding:0;
    
}

*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

p {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Prompt', sans-serif;
    &.Date {
        font-size: 48px;
        color: red;
        @media screen and (max-width: $viewport-medium) {
            font-size: 30px;
        }
    }
} 

.Header {
    text-align: center;
    margin-top: -10px ;

}

span.nowrap {
    white-space: nowrap;
}

a {
    text-decoration: none;
}

.FooterLogo {
    justify-content: center;
    @media screen and (max-width: $viewport-medium) {
        justify-content: flex-start;
        padding-left: 4%;
        img {
            width: 25%;
        }
    }
}

.DivideLine {
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    transform: translateY(-54px);
    z-index: 2;
    @media screen and (max-width: $viewport-small) {
        visibility: hidden;
    }
}


.Container--closer {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}